* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .notify {
  padding: 7px 10px;
  background-color: crimson;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: -7px;
  right: 50px;
  animation: animate 1s ease-in-out infinite alternate;
  opacity: 0;
  transition: opacity 0.3s;
}

.container .notify.add-notify {
  opacity: 1;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.09);
  }
}

.container .fa-twitter {
  font-size: 50px;
  color: blue;
}

.container .btn {
  margin-top: 15px;
  padding: 7px 10px;
  background-color: darkblue;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container .btn:hover {
  background-color: #010161;
}
